{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "API Key"|t('newsletter'),
    id: 'apiKey',
    name: 'apiKey',
    required: true,
    suggestEnvVars: true,
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey')
}) }}

{{ forms.autosuggestField({
    label: "Contact List ID"|t('newsletter'),
    warning: "If left empty, users will not be associated with any specific list."|t('newsletter'),
    id: 'listId',
    name: 'listId',
    suggestEnvVars: true,
    value: adapter.listId,
    errors: adapter.getErrors('listId')
}) }}

{{ forms.booleanMenuField({
    label: "Activate Double Opt-in (DOI)"|t('newsletter'),
    instructions: "If switched on, a Double Opt-in email will be sent to the subscriber using a Brevo template."|t('newsletter'),
    id: 'doi',
    name: 'doi',
    includeEnvVars: true,
    value: adapter.doi,
    errors: adapter.getErrors('doi'),
    toggle: 'doi-settings',
}) }}

<div id="doi-settings"{% if not adapter.doi %} class="hidden"{% endif %}>
    {{ forms.autosuggestField({
        label: "Mail Template ID"|t('newsletter'),
        instructions: "Template to be used during the Double Opt-in process (DOI)."|t('newsletter'),
        required: true,
        id: 'doiTemplateId',
        name: 'doiTemplateId',
        suggestEnvVars: true,
        value: adapter.doiTemplateId,
        errors: adapter.getErrors('doiTemplateId')
    }) }}

    {{ forms.autosuggestField({
        label: "Redirection URL"|t('newsletter'),
        instructions: "URL of the web page that user will be redirected to after clicking on the double opt in URL."|t('newsletter'),
        id: 'doiRedirectionUrl',
        name: 'doiRedirectionUrl',
        required: true,
        suggestEnvVars: true,
        suggestAliases: true,
        value: adapter.doiRedirectionUrl,
        errors: adapter.getErrors('doiRedirectionUrl')
    }) }}
</div>
