{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Newsletter plugin for Craft CMS 3.x
 *
 * Newsletter Settings.twig
 *
 * @author    Simplon.Prod
 * @copyright Copyright (c) 2021 Simplon.Prod
 * @link      https://www.simplonprod.co
 * @package   Newsletter
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% if configPath %}
    <div class="readable">
        <blockquote class="note warning">
            <p>
                {{ 'It looks like these settings are being overridden by {paths}.'|t('app', {
                    paths: configPath
                }) }}
            </p>
        </blockquote>
    </div>
    <hr>
{% endif %}

{{ forms.selectField({
    label: "Service type"|t('newsletter'),
    instructions: "Which service should be use to handle newsletter users subscription?"|t('newsletter'),
    first: true,
    id: 'adapterType',
    name: 'adapterType',
    options: adapterTypeOptions,
    value: className(adapter),
    errors: adapter.getErrors('type') ?? null,
    toggle: true
}) }}

{% for _adapter in allAdapters %}
    {% set isCurrent = (className(_adapter) == className(adapter)) %}
    <div id="{{ className(_adapter)|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
        {% namespace 'adapterSettings['~className(_adapter)~']' %}
            {{ (isCurrent ? adapter : _adapter).getSettingsHtml()|raw }}
        {% endnamespace %}
    </div>
{% endfor %}

{% if craft.app.plugins.isPluginEnabled('google-recaptcha') %}
    {{ forms.lightswitchField({
        label: "Enable Google reCAPTCHA"|t("newsletter"),
        instructions: "If enabled, newsletter subscription form will be verified using Google reCAPTCHA plugin."|t('newsletter'),
        name: "recaptchaEnabled",
        on: settings.recaptchaEnabled,
        errors: settings.errors("recaptchaEnabled")
    }) }}
{% endif %}
