{% set newsletterForm = newsletterForm ?? create('simplonprod\\newsletter\\models\\NewsletterForm') %}
{% set success =  craft.app.request.get('success') ?? null %}

{# success notification #}
{% if success is defined and success %}
    <div role="alert">
        <p>{{ 'Your newsletter subscription has been taken into account. Thank you.'|t }}</p>
    </div>
{% endif %}

<form action="" method="post">
    {{ csrfInput() }}
    {# subscription process is handled by the newsletter plugin controller #}
    {{ actionInput('newsletter/newsletter/subscribe') }}
    {{ redirectInput(url(craft.app.request.absoluteUrl, {'success': true})) }}

    <label for="newsletter-consent">
        <input type="checkbox" value="check" name="consent" id="newsletter-consent" required {% if newsletterForm.hasErrors('consent') %}aria-invalid="true" aria-describedby="consent-error"{% endif %}>
        {{ 'I agree to receive your emails and confirm that I have read your privacy policy.'|t }}
    </label>
    {% if newsletterForm.hasErrors('consent') %}
        <div id="consent-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('consent') }}</div>
    {% endif %}

    <label for="newsletter-email">{{ 'Votre email'|t }}<span aria-hidden="true">*</span></label>
    <input id="newsletter-email" required name="email" type="email" placeholder="j.dupont@gmail.com" value="{{ newsletterForm.email }}" {% if newsletterForm.hasErrors('email') %}aria-invalid="true" aria-describedby="email-error"{% endif %}>

    {% if newsletterForm.hasErrors('email') %}
        <div id="email-error" role="alert" class="text-sm text-error font-bold">{{ newsletterForm.getFirstError('email') }}</div>
    {% endif %}

    <button type="submit">{{ 'Subscribe'|t }}</button>

</form>
